/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Big+Shoulders+Stencil+Display:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/fastrace');
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

/* ------------ VARIABLES ------------ */
:root{
  /* FONT */
  --font: 'Big Shoulders Stencil Display', sans-serif;
  --font-profile-header: 'FASTRACE', sans-serif;
  --font-profile-social: 'Sirin Stencil', sans-serif;

  /* Colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #8ae3d5;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* --header-color: #8ae3d5; */

  --shadow-li: 0 0 20px rgb(72, 210, 206);
  --shadow-animation-1: #8ae3d5;
  --shadow-animation-2: rgb(72, 210, 206);

  /* ------------ Transition ------------ */
  --tran-02: all 0.2 ease;
  --tran-03: all 0.3 ease;
  --tran-04: all 0.4 ease;
  --tran-05: all 0.5 ease;
}

/* ------------ BASE ------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------ Body ------------ */
body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
    overflow: hidden;
}
/* ------------ Body Dark ------------ */
body.dark{
  --body-color: rgb(22,25,27);
  --sidebar-color: rgb(38,42,46);
  --primary-color: rgb(30,34,35);
  --primary-color-light: rgb(30,34,35);
  --toggle-color: #e4e9f7;
  --text-color: #e4e9f7;
  --header-color: #8ae3d5;
  overflow: hidden;
}


/* ------------ Flex-container ------------ */
.Flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* ------------ Sidebar ------------ */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    font-family: var(--font);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}


/* ------------ Resuable CSS ------------ */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-left: 12px;
    margin-top: -2px;
    color: var(--header-color);
}

.toggle{
    position: absolute;
    top: 35%;
    right: -42px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 20px solid var(--sidebar-color);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    width: 60px;
    font-size: 18px;
    transition: var(--tran-03);
    z-index: 2;
}
.toggle .icon{
    position: absolute;
    height: 32px;
    width: 4px;
    top: -6px;
    background: var(--body-color);
    transform: rotate(-90deg);
    border-radius: 2px;
    animation: pulsate 2.5s infinite;
}

    .sidebar header::after{
        position: absolute;
        content: '';
        transform: rotate(-90deg);
        top: 35%;
        left: 192px;
        border-bottom: 20px solid var(--body-color);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        height: 0;
        width: 50px;
        z-index: 1;
    }
        .sidebar.close header::after{
            position: absolute;
            content: '';
            transform: rotate(-90deg);
            top: 35%;
            left: 30px;
            border-bottom: 20px solid var(--body-color);
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            height: 0;
            width: 50px;
            z-index: 1;
        }


body.dark .sidebar header .toggle{
    color: var(--text-color);
}

    .sidebar li a{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 6px;
        font-family: var(--font);
        transition: var(--tran-04);
    }
        .sidebar li form{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 6px;
            transition: var(--tran-04);
        }
            .sidebar li button{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                border-radius: 6px;
                border: none;
                background: inherit;
            }
                .sidebar li a:hover{
                    background: var(--primary-color);
                    box-shadow: var(--shadow-li);
                }

    .sidebar li a:hover .icon,
    .sidebar li a:hover .text{
        color: var(--sidebar-color);
    }
    body.dark .sidebar li a:hover .icon,
    body.dark .sidebar li a:hover .text{
        color: var(--text-color);
    }
/* ------------ Light/Dark Mode ------------ */
.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .menu-bar .mode{
        position: relative;
        border-radius: 6px;
        background: var(--primary-color-light);
    }
        .menu-bar .mode .moon-sun{
            height: 50px;
            width: 60px;
            display: flex;
            align-items: center;
        }
            .menu-bar .mode i{
                position: absolute;
                transition: var(--tran-03);
            }
                .menu-bar .mode i.sun{
                    opacity: 0;
                }
                    body.dark .menu-bar .mode i.sun{
                        opacity: 1;
                    }
                    body.dark .menu-bar .mode i.moon{
                        opacity: 0;
                    }

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
}
/* ------------ Switch Light/Dark Mode ------------ */
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 6px;
    background: var(--toggle-color);
}
    .switch::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 6px;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background: var(--sidebar-color);
        transition: var(--tran-03);
        z-index: 1;
    }

body.dark .switch::before{
    left: 24px;
}


/* ------------ Main ------------ */
.home{
    position: relative;
    height: 100vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 20px;
    left: 250px;
    width: 100%;
    overflow-y: scroll;
    /* width: calc(100% - 250px); */
    background: var(--body-color);
    transition: var(--tran-05);
}
    .sidebar.close ~ .home{
        padding-left: 3%;
        padding-right: 3%;
        left: 88px;
        width: 100%;
        /* width: calc(100% - 88px); */
    }



/* ------------ Main ------------ */
.gallery-container{
    background: var(--sidebar-color);
    width: 95%;
    height: auto;
    margin-right: 5%;
    border-radius: 4px;
    color: var(--text-color);
}

.gal-head{
    padding: 10px;
}
    .gal-head h2{
        font-size: 1em;
    }


.gal-cont{
    background: var(--primary-color-light);
    padding: 24px 12px 10px 12px;
    border-radius: 4px;
}
    .gal-cont h2{
        font-size: 0.62em;
        padding-left: 10px;
        color: var(--header-color);
    }


.gal-slider{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

    .gal-card{
        flex: 0 0 25%;
        padding: 10px;
        box-sizing: border-box;
    }
    @media screen and (max-width: 376px) and (max-width: 730px) {
        .gal-card{
            flex: 0 0 50%;
            padding: 10px;
            box-sizing: border-box;
        }
    }
    @media screen and (min-width: 731px) and (max-width: 820px){
        .gal-card{
            flex: 0 0 33%;
            padding: 10px;
            box-sizing: border-box;
        }
    }
        .gal-card img{
            object-fit: cover;
            border-radius: 4px;
            width: 100%;
            height: 100%;
        }